<div ng-show ="userDeleted" style = "align:center" class = "col-md-12">
  <p class="alert alert-danger text-center" >User Deleted Successfully</p>
</div>
<div class="container">
  <p>USERS</p>
  <ul class="list-group user-list">
    <li ng-hide="admin.isAdmin(user.role)"  class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>
