<div backstretch backstretch-images="'../../assets/images/login_back.jpg'">
<div class="container">

<div class="top-content">
          
    <div class="inner-bg">
        <div class="container">
            <div class="row">           
              <div class="col-sm-6 col-sm-offset-3 form-box">                        
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>LOGIN</h3>
                      <p>Login below to get instant access:</p>
                  </div>
                  <div class="form-top-right">
                    <img src = "../../assets/images/fm.png" >
                  </div>
                </div>
              <div class="form-bottom">
               <form role="form" class="registration-form form" name="form" ng-submit="vm.login(form)" novalidate>
                    <div class="form-group has-error">
                    <p class="alert alert-danger " ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                       Please enter your email and password.
                    </p>
                    <p class="alert alert-danger " ng-show="form.email.$error.email && vm.submitted">
                       Please enter a valid email.
                    </p>
                    <p class="text-danger">{{ vm.errors.other }}</p>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" >Email</label>
                    <input type="email" name="form-email" placeholder="EMAIL" class="form-email form-control" id="form-email" ng-model="vm.user.email" required>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" >Password</label>
                    <input type="password" name="password" placeholder="PASSWORD" class="form-control"  ng-model="vm.user.password" required>
                  </div>
                <!--   <div class="form-group has-error">
                    <p class="alert alert-danger " ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                       Please enter your email and password.
                    </p>
                    <p class="alert alert-danger " ng-show="form.email.$error.email && vm.submitted">
                       Please enter a valid email.
                    </p>
                    <p class="text-danger">{{ vm.errors.other }}</p>
                  </div> -->
                  <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                      Login
                    </button>
                    <button class="btn btn-inverse btn-lg btn-register" type="submit" >
                      <a  ui-sref="signup">
                        Register
                      </a>
                    </button>
                  </div>        
                  <div class="row">
                    <div class="col-sm-4 col-md-3">
                      <oauth-buttons classes="btn-block"></oauth-buttons>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        
      </div>
    </div>
            
  </div>

</div>
       
</div>
