<div class="col-md-12">
  <h1>My Offers</h1>
  <table class="table table-striped">
    <thead>
      <th>Dish Name</th>
      <th>Price of Dish</th>
      <th>Quantity</th>
      <th>Address</th>
      <th>Email</th>
      <th>Date and Time</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="order in Orders">
        <td>{{order.dishname}}</td>
        <td>{{order.pricedish}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.address}}</td>
        <td>{{order.email}}</td>
        <td>{{order.date_time}}</td>
        <td>
          <button class="btn btn-danger" ng-click="vm.deleteOrder($index)">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
