<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a ui-sref="main" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>
                &nbsp;| &nbsp; 
                <a href="#">REFER &amp; EARN</a>
                
            </div>     
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">LOGIN</a>
                    </li>
                    <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">SIGN UP</a>
                    </li>
                    <li ng-show="nav.isCook() && nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="c-account"> HELLO {{ nav.getCurrentUser().name }}</a> </li>
                    <li ng-hide="nav.isCook() || !(nav.isLoggedIn())" ui-sref-active="active"><a ui-sref="cus-account"> HELLO {{ nav.getCurrentUser().name }}</a> </li>
                    <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">LOGOUT</a></li>
                    <li><a href="#">CONTACT US</a>
                    </li>                
                </ul>
            </div>
        </div>
    </div>
</div>
