
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 offer" data-animate="fadeInDown">            
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>
                &nbsp;| &nbsp; 
                <a href="#">REFER &amp; EARN</a>                
            </div>

            <a ui-sref="main"><div class= "col-xs-8 navbar-brand">             
            </div></a>
            <div class="row">
            <div class="col-md-4 col-md-push-2" data-animate="fadeInDown" style="width:40%">
                <ul class="menu">
                    <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">LOGIN</a>
                    </li>
                    <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">SIGN UP</a>
                    </li>
                    <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">LOGOUT</a></li>
                    <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="c-account"> HELLO {{ nav.getCurrentUser().name }}</a> </li>
                     <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="contactus">CONTACT US</a>
                    </li>           
                </ul>
            </div>
        <div class = "col-md-4 col-md-pull-2"  style ="color:#fff;font-weight:bold;right:18%;margin-top:-5px"><a ui-sref="main">FOODMINGLE </a></div> 
        </div>
    </div>
   
</div>
</div>

    