<div class = "breadcrumbs">
    <a ui-sref = "main">Home</a> &nbsp;&gt;&nbsp;
    <a ui-sref = "getallorders">Get Offers</a>&nbsp;&gt;&nbsp;
   
  </div>

<div class="container futovac ">
 <div ng-repeat="offer in cookoffers">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <button type="button" ><img class="img-responsive" ng-click="$ctrl.viewOffer(offer)" ng-src="http://127.0.0.1:9000/files?{{offer.dishimage}}" alt="" ></button>
                    {{offer.dishname}}<br>Price : {{offer.pricedish}}
                </a>
            </div>
        </div>
</div><br><br><br><br><br>