<div class="col-md-12">
  <h1>My Offers</h1>
  <table class="table table-striped">
    <thead>
      <th>Dish Name</th>
      <th>Price of Dish</th>
      <th>Quantity</th>
      <th>Address</th>
      <th>Date and Time</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="cookoffer in cookoffers">
        <td>{{cookoffer.dishname}}</td>
        <td>{{cookoffer.pricedish}}</td>
        <td>{{cookoffer.quantity}}</td>
        <td>{{cookoffer.address}}</td>
        <td>{{cookoffer.date_time}}</td>
        <td>
          <button class="btn btn-danger" ng-click="vm.deleteOffer($index)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
